@model Product

@{
    ViewData["Title"] = $"Delete {Model.Name}";
}

<section>
    <form method="GET" asp-controller="Product" asp-action="DeleteConfirmed" class="alert alert-danger">
        <h4>Are you sure you want to delete this product?</h4>
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-primary">Back to your Products</a>
    </form>
    <table class="table rounded-3 table-success table-striped">
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
        </tr>
        <tr>
            <td>@Html.DisplayFor(model => model.Name)</td>
            <td>@Html.DisplayFor(model => model.Price)</td>
            <td>@Html.DisplayFor(model => model.Description)</td>
        </tr>
    </table>
</section>